<template>
  <b-form @submit="submitHandler">
    <b-form-group label="Login:" label-for="login">
      <b-form-input id="login" v-model="login" type="text" required />
    </b-form-group>

    <b-form-group label="Password:" label-for="password">
      <b-form-input id="password" v-model="password" type="password" required />
    </b-form-group>

    <b-form-group label-for="submit-button">
      <b-button id="submit-button" type="submit" variant="primary">Sign In</b-button>
    </b-form-group>
  </b-form>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return { login: '', password: '' }
  },
  middleware({ redirect, store }) {
    const token = sessionStorage.getItem('authToken')

    if (token) {
      store.commit('user/setAuthToken', token)
      redirect('/viewer')
    }
  },
  methods: {
    async submitHandler(e) {
      e.preventDefault()

      try {
        const token = await Promise.resolve('token')
        this.$store.commit('user/setAuthToken', token)
        sessionStorage.setItem('authToken', token)
        this.$router.push('/viewer')
      } catch (error) {
        console.warn(error)
      }
    }
  }
}
</script>

<style scoped>
form {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
</style>
