<template>
  <main class="viewer-page">
    <div class="filter">
      <b-form-group label-for="from" class="form-group">
        <b-form-datepicker
          v-model="dateFilterFrom"
          id="from"
          :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
          placeholder="С"
          locale="ru"
          start-weekday="1"
          class="date-picker"
        />
      </b-form-group>

      <b-form-group label="–" label-for="to" class="form-group">
        <b-form-datepicker
          v-model="dateFilterTo"
          id="to"
          :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
          placeholder="По"
          locale="ru"
          start-weekday="1"
          class="date-picker"
        />
      </b-form-group>

      <b-form-group label-for="apply-button" class="form-group">
        <b-button id="apply-button" variant="primary" @click="applyFilter">Показать</b-button>
      </b-form-group>

      <b-form-group label-for="apply-button" class="form-group">
        <b-button id="apply-button" @click="resetFilter">Сброс</b-button>
      </b-form-group>

      <b-form-group label-for="apply-button" class="form-group">
        <b-button id="apply-button" @click="collapseEmailGroups">Сгруппировать по Email</b-button>
      </b-form-group>

      <b-form-group label="Строк на страницу:" label-for="page-size" class="form-group page-size">
        <b-form-input
          v-model="perPage"
          id="page-size"
          type="number"
          placeholder="Размер страницы"
          locale="ru"
          start-weekday="1"
        />
      </b-form-group>

      <div class="pagination">
        <b-pagination
          v-model="currentPage"
          :total-rows="tableData.length"
          :per-page="Number(perPage)"
          aria-controls="main-table"
        ></b-pagination>
      </div>
    </div>

    <div class="table-container">
      <b-table
        id="main-table"
        hover
        :items="tableData"
        :sticky-header="true"
        :primary-key="'id'"
        :tbody-transition-props="transProps"
        :tbody-tr-class="getRowClass"
        :per-page="Number(perPage)"
        :current-page="currentPage"
        @row-clicked="toggleEmailGroup"
      />
    </div>
  </main>
</template>

<script>
import plug from '../constants/plug'

export default {
  name: 'ViewerPage',
  data() {
    return {
      rawData: [],
      transProps: {
        name: 'fade'
      },

      // fields
      dateFieldName: null,
      emailFieldName: null,

      // filters
      dateFilterFrom: null,
      dateFilterTo: null,
      filterApplied: false,

      expandedEmailGroups: [],

      // pagination
      currentPage: 1,
      perPage: 10
    }
  },
  async asyncData({ store, app }) {
    const token = store.getters['user/authToken']

    if (!token) {
      app.router.push('/')
    }

    const data = await new Promise((res) => setTimeout(() => res(plug), 1000))

    return {
      rawData: data.result,
      emailFieldName: data.emailFieldName,
      dateFieldName: data.dateFieldName
    }
  },
  computed: {
    tableData() {
      return (
        this.rawData
          // date
          .filter((item) => {
            if (!this.filterApplied) return true

            const date = item[this.dateFieldName]

            if (this.dateFilterFrom && this.dateFilterTo) {
              return (
                this.$moment(date).isSameOrAfter(this.dateFilterFrom) &&
                this.$moment(date).isSameOrBefore(this.dateFilterTo)
              )
            } else if (this.dateFilterFrom) {
              return this.$moment(date).isSameOrAfter(this.dateFilterFrom)
            } else if (this.dateFilterTo) {
              return this.$moment(date).isSameOrBefore(this.dateFilterTo)
            } else {
              return true
            }
          })
          // email
          .filter((item, _, arr) => {
            return (
              this.expandedEmailGroups.includes(item[this.emailFieldName]) ||
              arr
                .filter((i) => i[this.emailFieldName] === item[this.emailFieldName])
                .findIndex((i) => i.id === item.id) === 0
            )
          })
      )
    }
  },
  methods: {
    applyFilter() {
      this.filterApplied = true
    },

    resetFilter() {
      this.dateFilterFrom = null
      this.dateFilterTo = null
      this.filterApplied = false
    },

    collapseEmailGroups() {
      this.expandedEmailGroups = []
    },
    toggleEmailGroup(item) {
      const email = item[this.emailFieldName]

      if (this.expandedEmailGroups.includes(email)) {
        this.expandedEmailGroups = this.expandedEmailGroups.filter((e) => e !== email)
      } else {
        this.expandedEmailGroups = [...new Set([...this.expandedEmailGroups, email])]
      }
    },
    getRowClass(item) {
      const filtred = this.rawData.filter(
        (i) => i[this.emailFieldName] === item[this.emailFieldName]
      )

      return filtred.length > 1 && filtred.findIndex((i) => i.id === item.id) === 0
        ? 'group-head'
        : ''
    }
  },
  head() {
    return {
      script: [{ src: 'https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js' }]
    }
  }
}
</script>

<style scoped>
main {
  max-height: 100vh;
}

.filter {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  height: 4rem;
}

.page-size {
  max-width: 200px;
}
.pagination {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.pagination >>> .b-pagination {
  margin-bottom: 0;
}

.date-picker {
  min-width: 10rem;
}

.form-group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.form-group >>> label {
  margin-bottom: 0;
  margin-right: 1rem;
}

.table-container {
  height: calc(100vh - 4rem);
}
.viewer-page >>> .b-table-sticky-header {
  height: 100%;
  max-height: unset;
  margin-bottom: unset;
}

.viewer-page >>> .fade-enter-active,
.viewer-page >>> .fade-leave-active {
  transition: all 0.2s ease;
}
.viewer-page >>> .fade-enter,
.viewer-page >>> .fade-leave-to {
  opacity: 0;
}

.viewer-page >>> .group-head {
  background-color: hsl(128, 100%, 95%);
  cursor: pointer;
}
.viewer-page >>> .group-head:hover {
  background-color: hsl(128, 100%, 92%);
}
</style>
